.page1background{
	background-color: #BBEAE5 ;
}

.page2background{
	background-color: #D0BBEA ;
}


.page3background{
	background-color: #D2EABB ;
}

.page4background{
	background-color: #DEBBEA ;
}

.page5background{
	background-color: #EACEBB;
}




.box{
   display: block;
  margin: 0 auto;
  margin: -100px auto;
  padding-bottom: 50px;
}
