@import url('page4.css');

@import url('page5.css');

@import url('page6.css');


body {
  
  background-color: #FFF3D4   ;
font-family: 'Special Elite', cursive;
text-align: center;
padding: 20px;
font-size: 25px;
}

h1{

font-family: 'Darumadrop One', cursive;
text-align: center;
font-size: 50px;

}


.name {

  text-align: center;
  padding: 30px;

}

.bff {

display: inline-block;
  padding: 10px;
  color: darkseagreen;
margin: 0px;
}

.hobbie {
display: inline-block;
  padding: 50px;
  color: orange;

}

.funtimes{
display: inline-block;

}

.colorname{

  color: deeppink;

}


.hello {

  text-align: center;
  padding: 20px;
}


.choices {

  padding-top: 60px;
font-family: 'Nanum Brush Script', cursive;
text-align: center;
font-size: 50px;
display: inline-block;

}

.rana{

   display: block;
  margin: 0 auto;
  margin: -100px auto;
  width: 30%;
  transition: transform 0.3s ease-out;
}

.cry{

padding: 10px;
font-family: 'Nanum Brush Script', cursive;
font-size: 50px;
display: inline-block;


}

.avoid{

padding: 10px;
font-family: 'Nanum Brush Script', cursive;
font-size: 50px;
text-align: center;
}

.cut{

  padding: 10px;
font-family: 'Nanum Brush Script', cursive;
font-size: 50px;

}

ul {

  text-align: left;
      margin-left: 30px;
      line-height: 1.5;
    }


    li {
      color: black;

      margin-bottom: 50pxs;
    }



    li .highlight {

      font-weight: bold;
      color: #f44336;

    }

        li .highlight2 {

      font-weight: bold;
      color: limegreen;

    }

    .list {

      margin: 30px;
    }

    .remember{

      padding-top: 30px;
    }



.container {
  position: relative;
}

.blue {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -320px;
  left: -70px;
  z-index: 2;

  width: 30%;
  transition: transform ;
}

.bigeye {
  position: absolute;
  max-width: 100%;
  height: auto;
  top: -320px;
  right: -70px;
  z-index: 2;

    width: 30%;
  transition: transform;
}

.crying {
  position: absolute;
  max-width: 100%;

  width: 200px;
  height: 200px;
  rotate: 20px;
  height: auto;
  top: 20px;
  right: 70px;
  z-index: 2;

  transition: transform ;
}


.heart {
  position: absolute;
  max-width: 100%;

  width: 200px;
  height: 200px;
  rotate: 20px;
  height: auto;
  top: 20px;
  left: 70px;
  z-index: 2;
}


.beokay {
  position: absolute;
  max-width: 100%;

  width: 400px;
  height: 400px;
  rotate: 20px;
  height: auto;
  bottom: 20px;
  left: 70px;
  z-index: 2;
}

.stitch {

  margin: 0 auto;
bottom: -100px;
}


.guts {
margin: 0px;

}

/*page3 
*/

.maneye {

display: block;
margin: 0 auto;
margin: -100px auto;
padding: 100px;

}

.angel {

   display: block;
  margin: 0 auto;
padding: 0px;
width: 40%;
  transition: transform ;


}


.doingyourbest{

   display: block;
  margin: 0 auto;
  width: 30%;
  transition: transform 0.3s ease-out;


}


.espanol {

color: royalblue;
  text-align: center;
  padding: 20px;
}


